<table class="table-striped table table-bordered">
  <tr>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Date</th>
    <th>Time</th>
    <th>Actions</th>
  </tr>
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.patient.first_name %></td>
      <td><%= appointment.doctor.name %></td>
      <td><%= appointment.date %></td>
      <td><%= appointment.time.strftime("%I:%M %p") %></td>
      <td>
        <% if check_appointment_action(appointment) %>
          <%= link_to "edit",  edit_appointment_path(appointment.id), class:"btn btn-primary" %>
          <%= button_to "cancel", cancel_appointment_appointment_path(appointment.id), class:"btn btn-primary", method: :delete %>
        <% elsif appointment.date >= Date.today and (appointment.patient == current_user || appointment.doctor.user == current_user)  %>
          <%= button_to "cancel", cancel_appointment_appointment_path(appointment.id), class:"btn btn-primary", method: :delete %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

